.button {
	display: flex;
	width: 100%;
	min-height: 48px;
	justify-content: center;
	align-items: center;
	margin-left: 4px;
	margin-right: 4px;
	border-radius: 5px;
	border: 1px solid #e2e3e5;
	background-color: transparent;
	font-family: "Inter Medium";
	font-size: 14px;
}